<!DOCTYPE html>
<head>
    
</head>
<body>
    
    <a href="/images/diamond.png"></a><h2>DIAMOND</h2>
    
    <p2> Hello Melanie,
    
    You have a new message from the Diamond website.
    
    From: <%= "#{@name}, #{email}" %>
    
    <%= "#{@body}" %></p2>
    
    
</body>